/*
Theme Name: tema-lobinho
Author: admin
Description: Tema para o site lobinho.
Version: 1
*/
@import 'javascripts/reset.css';


/***************  GLOBAL ***********************/
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500&display=swap');

html {
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
}

/***************** Header *********************/

header {
    /* items */
    display: flex;
    justify-content: space-around;
    align-items: center;


    /*Cores e fontes */
    color: #333333;
    text-decoration: none;
    background: #85CDF5;
}

header a {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

h1 {
    /*posição*/
    text-align: center;
}

h2 {
    /*posição*/
    text-align: center;
}


/*********************** Footer *******************/

footer {
    /* items */
    display: flex;
    justify-content: space-evenly;
    border-top-style: solid;
    border-image: linear-gradient(88deg, rgb(222, 182, 89), rgb(45, 86, 128)) 1;
    /*linear-gradient(88deg,#1100ff -38.42%,#ff0000 150.39%) 1;   linear-gradient(88deg,rgb(222,182,89),rgb(45,86,128)) 1*/
    border-top-width: 0.5rem;
    padding: 20px;


    /*Cores e fontes */
    color: white;
    background: #333333;
}

#info_text {
    translate: -125px;
}

.linha {
    display: flex;
    margin-bottom: 10px;
    max-width: 400px;
}

.linha img {
    margin-right: 10px;
}

iframe {
    width: 250px;
    height: 170px;
}

#footer_button {
    background: rgb(222, 185, 89);
    border: 0;
    color: rgb(51, 51, 51);
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}


/**************** HOME PAGE *********************/

.sec_lobo {
    /* background*/
    width: auto;
    height: 600px;
    ;
    background-image: url("images/homePage_body_lobo-image.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;

    /*texto e fonte */
    color: white;
    text-align: center;
}

.sec_lobo h1 {
    padding-top: 10%;
    font-weight: bold;
    font-size: 96px;
    line-height: 130px;
}

#linha_lobo {
    border: 3px solid;
    max-width: 10%;
    max-height: 1px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.sec_lobo p {
    max-width: 60%;
    margin: auto;
    padding-top: 20px;

    /*texto*/
    font-size: 30px;
    line-height: 25px;
}

.sec_sobre {
    /* background*/
    width: auto;
    height: 350px;
    background-color: #2C5680;
}

.sec_sobre h2 {
    padding-top: 30px;

    color: #DEB959;
    font-weight: 900;
    font-size: 48px;
    line-height: 65px;
}

.sec_sobre p {
    margin: auto;
    max-width: 75%;

    font-size: 24px;
    line-height: 33px;
    color: white;
    text-align: center;
}

.sec_valores {
    background-color: #333;

}

.sec_valores h2 {
    padding-top: 30px;

    color: #DEB959;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
}

.sec_valores h3 {
    color: white;
    font-size: 34px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 600;
}

.sub_sec_valores {
    /* background*/
    display: flex;
    justify-content: center;
    height: 425px;
}

.card {
    width: 250px;
    height: 400px;

    text-align: center;
    color: white;
}

.card div {
    display: flex;
    justify-content: center;
    width: 180px;
    height: 180px;
    margin: auto;
    background-color: white;
    border-radius: 50%;
}

.card img {
    width: 120px;
    height: auto;
}

.card p {
    margin: auto;
    max-width: 180px;
    line-height: 20px;
}

.sec_exemplos h2 {
    padding-top: 30px;

    color: #DEB959;
    font-weight: 900;
    font-size: 48px;
    line-height: 65px;
}


/*****************  LISTA LOBINHOS  ***********************/

.container_s {
    width: auto;
    padding-top: 10px;
    padding-bottom: 3%;
    padding-left: 10vw;
    display: column;
    align-items: center;
    justify-content: center;
}

.container_s :first-child {
    display: inline-block;
}

.search_bar {
    border: 1px solid black;
}

.search {
    display: inline-block;
}

.search_bar input {
    height: 47px;
    width: 950px;
    border: 0;
    margin: 5px;

}

.search_bar img {
    height: 30px;
    margin-left: 0.5vw;
    vertical-align: middle
}

#button_search {
    background-color: #DEB959;
    border: 0;
    font-size: 20px;
    color: white;

    width: 130px;
    height: 47px;
    cursor: pointer;
}

._lobo{
    justify-content: center;
    display: flex;
    margin: auto;
    padding: 5px 10% 30px 10%;
    font-size: 30px;
}

.imgbox1 {
    padding: 0 0 0 30px;
    margin:10px;
}

.imgbox1 img {
    height: 328px;
    width: 430px;
    display: inline-block;
    box-shadow: -20px -20px 0 rgba(44, 86, 128, 1);
}

.imgbox2 {
    padding: 0 0 0 30px;
    margin:10px;
}

.imgbox2 img {
    height: 328px;
    width: 430px;
    display: inline-block;
    box-shadow: 20px -20px 0 rgba(44, 86, 128, 1);
}

.coluna1 {
    text-align: left;
}

.coluna2 {
    text-align: right;
}

.topo_descricao{
    display:flex;
    padding: 0 0 0px 0;
    
}

.descricao{
    margin: 0 50% 0 0;
}

.descricao_d h3{
    font-size: 36px;
    font-weight: bold;
}

/* /* ----- */

.topo_descricao_d{
    display:flex;
    padding: 0 0 10px 0; 
    text-align: right;
}

.descricao_d{
    margin: 0 0 0 50%;
}

.descricao h3{
    font-size: 36px;
    font-weight: bold;
} 

#p_d{
    text-align: right;
}

/******************QUEM SOMOS*************************/


.quem_somos h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.quem_somos p {
    font-size: 30px;
    line-height: 36px;
    margin-left: 320px;
    margin-right: 320px;
    text-align: center;
}
